@tailwind base;
@tailwind components;
@tailwind utilities;

.iframe-container {
    position: relative;
    width: 100% !important;
    height: 0 !important;
    padding-bottom: 56.25%;
}

.iframe-container iframe {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
